{% load static %}
<div class="slideshow-container col-lg-4">
    <!-- Full-width images with number and caption text -->
    <div class="mySlidesAutomatic autoplay">
    <img src="img/my-pictures/mypic-3.jpg" style="width:100%">
    </div>

    <div class="mySlidesAutomatic autoplay">
    <img src="img/my-pictures/mypic-2.jpg" style="width:100%">
    </div>

    <div class="mySlidesAutomatic autoplay">
    <img src="img/my-pictures/mypic-4.jpg" style="width:100%">
    </div>

    <div class="mySlidesAutomatic autoplay">
    <img src="img/my-pictures/mypic-1.jpg" style="width:100%">
    </div>
</div>